body {
    background-color: white;
}

nav {
    background: lightgray;
}

.detailPageImage {
    max-width: 25%;
}

table {
    margin-bottom: 0 !important;
}

/* Footer */

.bi-instagram {
    color: #833AB4;
    position: relative;
    top: 5px
}

.bi-youtube {
    position: relative;
    top: 2px;
}

.bi-facebook {
    position: relative;
    top: 1px;
}

/* Mission status colors */
.lucky {
    background-color: #e9a049;
}

.planned {
    background-color: #49afe9;
}

.successful {
    background-color: #67d572;
}

.crashed {
    background-color: #e65249;
}
