<section class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="py-4">
        <div class="row gy-4 gy-md-0">
            <div class="col-md-5 d-none d-md-block">
                <div class="pr-5"><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;"
                                       src="../img/spaceBanner.png"
                                       alt="Foto van raket die opgestegen is vanop de Aarde"></div>
            </div>
            <div class="col-md-7 d-md-flex align-items-md-center">
                <div>
                    <h2 class="text-uppercase fw-bold">Ruimtemissies administratie</h2>
                    <p class="my-3">Vergeet nooit meer welke astronaut nu juist met welke missie mee geweest is,
                        en welke Apollo-missie het nu juist weer was waarbij de astronauten net niet als puree
                        teruggekeerd zijn!</p>
                </div>
            </div>
        </div>
    </div>
    <h1>Ruimtemissies</h1>
    <a class="btn btn-success mb-3 fw-semibold" role="button" href="#">Missie toevoegen</a>
    <div class="row gy-4" id="missionCardList">
        <div class="col-md-2">
            <a class="text-dark text-decoration-none switch-tab" data-tab-name="detail" data-id="1"
               href="#">
                <div class="card shadow border-0">
                    <img class="card-img-top w-100 d-block"
                         src="https://media.istockphoto.com/id/1131418344/photo/space-shuttle-in-the-rays-of-sun.jpg?b=1&s=170667a&w=0&k=20&c=ogSQhsWAk4URSR5cr7r8Y6SR7gyQ2rrXd9zKE5YQngs="
                         alt="Afbeelding van de Apollo 11 missie">
                    <div class="card-body">
                        <h4 class="card-title mb-0">Apollo 11</h4>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-2">
            <a class="text-dark text-decoration-none" href="#">
                <div class="card shadow border-0">
                    <img class="card-img-top w-100 d-block"
                         src="https://static.nieuwsblad.be/Assets/Images_Upload/2022/09/29/184f6dfe-84d8-4b54-954e-5ff4a517ed8f.jpg"
                         alt="Afbeelding van Mars">
                    <div class="card-body">
                        <h4 class="card-title mb-0">Mars explorer</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>