<section class="tab-pane" id="search" role="tabpanel" aria-labelledby="search-tab">
    <h1 class="mb-3">Zoeken</h1>
    <div class="input-group">
                <span class="input-group-text">
                    <i class="bi bi-search"></i>
                </span>
        <input class="form-control" id="searchInput" type="search">
    </div>
    <div class="border border-5 p-2 rounded-3 mb-5 mt-3">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Naam</th>
                    <th>Beschrijving</th>
                    <th>Status</th>
                    <th>Lanceerdatum</th>
                    <th>Brandstof</th>
                </tr>
                </thead>
                <tbody id="missionList">
                <tr>
                    <td>1</td>
                    <td>Apollo 11</td>
                    <td class="text-truncate">The first manned mission to land on the Moon.</td>
                    <td><span class="badge w-100 lucky">Succesvol</span></td>
                    <td>2 januari 2023</td>
                    <td>1200</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</section>