<section class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
    <h1 class="mb-3">Instellingen</h1>
    <div class="border border-5 p-2 rounded-3 mb-5 mt-3">
        <form id="settingsForm">
            <div class="row">
                <div class="col-md-6">
                    <label for="settingsWebsiteName">
                        Website naam
                    </label>
                    <input type="text" class="form-control mt-2" name="settingsWebsiteName"
                           id="settingsWebsiteName">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">
                    <label for="settingsNavbarColor">Navbar kleur</label>
                    <select type="text" class="form-control mt-2" name="settingsWebsiteName"
                            id="settingsNavbarColor">
                        <option value="dark">Donker grijs</option>
                        <option value="secondary">Grijs</option>
                        <option value="nikskeniet">Lichtgrijs</option>
                        <option value="light">Wit</option>
                        <option value="success">Groen</option>
                        <option value="danger">Rood</option>
                        <option value="warning">Geel</option>
                        <option value="primary">Blauw</option>
                        <option value="info">Cyaan</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- Submit button -->
                    <button class="btn btn-primary mt-3" type="submit" id="submitSettings">Instellingen
                        opslaan
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>