<section class="tab-pane" id="detail" role="tabpanel" aria-labelledby="detail-tab">
    <div class="mb-3 mt-4">
        <button type="button" id="btnAddMissionView" class="btn btn-primary">Nieuwe missie toevoegen</button>
    </div>

    <!-- Form view -->
    <%- include('./formView.ejs') %>

    <!-- Details view -->
    <%- include('./detailsView.ejs') %>
</section>