/* Mission status colors */
$bg_lucky: #e9a049;
$bg_planned: #3fc3ee;
$bg_successful: #67d572;
$bg_crashed: #e65249;

/* Other colors */
$bg_question: #87adbd;
$swal_text_color: white;
$background-color_1: white;
